---
import Track from "../components/Track.astro";
import "../styles/globals.css";
import type { TrackResponse } from "./tracks";

const tracksResponse = await fetch("http://localhost:3000/tracks");
const tracks = await tracksResponse.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nexxel • spotify</title>
	</head>
	<body>
		<h1>nexxel • spotify</h1>

		<code>
			{
				tracks.tracks.map((item: TrackResponse) => <Track title={item.title} /> )
			}
		</code>
	</body>
</html>
