---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nexxel • spotify</title>
	</head>
	<body>
		<h1>nexxel • spotify</h1>
	</body>
</html>
